:root {
    --mainColor: #46344e;
    --secondaryColor: #382a3f;
    --backgroundColor: #46344e;
    --previewBackground: rgba(29, 21, 32, 0.8);
    --previewShadow: #2b202f;

    --borderColor: #1d1520;

    --mainText: #ffffff;
    --secondaryText: #eeeeee;
    --normalText: #eeeeee;

    --themeDotBorder: #fffff;
    --buttonColor: #8534a3;
}