:root {
    --mainColor: #0b4b6f;
    --secondaryColor: #125b6a;
    --backgroundColor: #f0f6f9;

    --borderColor: #ee6c4d;

    --mainText: #0b4b6f;
    --secondaryText: #3dac94;
    --normalText: #262429;
}

html,
body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainText);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

label,
input,
textarea {
    color: var(--secondaryText);
    font-family: 'Poppins', sans-serif;
}

p,
li,
span {
    color: var(--normalText);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

.s1 {
    background-color: var(--backgroundColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    border: 2px var(--borderColor);
    min-width: 10em;
    text-align: center;
    align-content: center;
}

.intro-wrapper {
    background-color: var(--backgroundColor);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas:
        'top top'
        'left right'
    ;
}

.nav-wrapper {
    background-color: var(--backgroundColor);
    border-radius: 5px 5px 0 0;
    grid-area: top;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dots-wrapper{
    display: flex;
}

.browser-dot{
    background-color: #000;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

}

#dot-1{
    background-color: #fc6058;
}

#dot-2{
    background-color: #fec02f;
}

#dot-3{
    background-color: #2aca3e;
}

#navigation{
    margin: 0px;
    padding: 10px;
    display: flex;
}

#navigation-li{
    display: inline-block;
    margin-right: 5px;
}

.left-column {
    grid-area: left;
}

.right-column {
    grid-area: right;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}