:root {
    --mainColor: #0b4b6f;
    --secondaryColor: #125b6a;
    --backgroundColor: #f0f6f9;
    --previewBackground: rgb(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;

    --borderColor: #ee6c4d;

    --mainText: #0b4b6f;
    --secondaryText: #3dac94;
    --normalText: #262429;

    --themeDotBorder: #24292e;
}

html,
body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainText);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

label,
input,
textarea {
    color: var(--secondaryText);
    font-family: 'Poppins', sans-serif;
}

p,
li,
span {
    color: var(--normalText);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-family: var(--normalText);
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

.s1 {
    background-color: var(--backgroundColor);
    overflow: auto;
    padding-bottom: 70px;
}

.s2 {
    background-color: white;
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    min-width: 2em;
    text-align: center;
    align-content: center;
    background-color: var(--mainColor);
    width: full;
}

.intro-wrapper {
    background-color: var(--backgroundColor);
    border-radius: 5px 5px 0 0;
    margin-top: 30px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'top top'
        'left right'
    ;
}

.nav-wrapper {
    background-color: var(--backgroundColor);
    border-radius: 5px 5px 0 0;
    grid-area: top;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dots-wrapper{
    display: flex;
}

.browser-dot{
    background-color: #000;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

}

#dot-1{
    background-color: #fc6058;
}

#dot-2{
    background-color: #fec02f;
}

#dot-3{
    background-color: #2aca3e;
}

#navigation{
    margin: 0px;
    padding: 10px;
    display: flex;
}

#navigation-li{
    display: inline-block;
    margin-right: 5px;
}

.left-column {
    grid-area: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile_pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
    display: block;
    margin: 0 auto;
    border-radius: 3px;
}

.theme-dot{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #000;
    margin: 5px;
    border: 1px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

}

.theme-dot:hover{
    border-width: 5px;
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;
}

#light-mode{
    background-color: #fff;
}

#blue-mode{
    background-color: #192734;
}

#green-mode{
    background-color: #78866b;
}

#purple-mode{
    background-color: #7e4c74;
}

#settings-note{
    font-size: 12x;
    font-style: italic;
    text-align: center;
}

.right-column {
    grid-area: right;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#preview-shadow{
    background-color: var(--previewShadow);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBackground);
    padding: 15px;
}

.corner{
    width: 7px;
    height: 7px;
    border-radius: 50px;
    border: 1.5px solid #17a2b8;
    background-color: #7e4c74;
    position: relative;
}

#corner-tl{
    top: -5px;
    left: -5px
}

#corner-tr{
    top: -5px;
    right: -5px
}
#corner-br{
    bottom: -5px;
    right: -5px
}

#corner-bl{
    bottom: -5px;
    left: -5px
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-links{
    display: grid;
    align-content: center;
    text-align: center;
}

#social_img{
    width: 100%;
    border-radius: 5px;
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 50px;
}

.post{
    border: 1px solid var(--borderColor);
    border-radius: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

}

.thumbnail{
    width:100%;
    height: 180px;
    display: block;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-preview{
    background-color: white;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.post-title{
    color:black;
    margin: 0px;
}

.post-intro{
    color: var(--normalText);
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {    
        grid-template-columns: 1fr;
        grid-template-areas:
            'top'
            'left'
            'right'
        ;
    }
    .right-column{
        justify-content: center;
    }
}